/* Css reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    vertical-align: middle;
}



/* Generics  */
body{
    font-family:  sans-serif;
    background-color: lightgrey;
}

h1{
    display: inline;
    line-height: 50px;
    vertical-align: middle;
}

header, nav, main{
    background-color: white;
}

/* Utilities  */

.container{
    margin: auto;
    height: auto;
    width: 600px;
}

/* navogators container  */
.box{
    font-size: 12px;
    padding: 2px 5px;
    text-decoration: none;
}

.box.task{
    color: white;
    background-color: rgb(70, 148, 232);
    border: 1px solid rgb(70, 148, 232);
    border-radius: 5px;
}

.box.section{
    color: grey;
    border: 1px solid gray;
    border-radius: 5px;
}

.logo-container{
    margin-bottom: 10px;
    padding: 10px;
}

.navigator{
    border: 1px solid white;
    border-radius: 5px 5px 0 0;
    margin-bottom: 3px;
    padding: 5px 20px;
}